@model IEnumerable<CreateAccount>

@{
	ViewData["Title"] = "Index";
}

<p>
	<a asp-action="CreateAccountForm" class="btn btn-primary">New</a>
	<a asp-action="Exit" class="btn btn-danger">Exit</a>
</p>
<table class="table table-success table-striped">
	<thead>
		<tr>
			<th scope="col">
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.FirstName)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.LastName)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.DateOfBirth)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.MobileNumber)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.Sex)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.AccountType)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.StdCode)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.Telephone)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.StateId)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.CityId)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.BranchId)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.LanguageId)
			</th>
			@* <th scope="col">Action</th> *@
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastName)
				</td>
				<td style="min-width: 100px">
					@Html.DisplayFor(modelItem => item.DateOfBirth)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MobileNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Sex)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AccountType)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StdCode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Telephone)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StateId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CityId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BranchId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LanguageId)
				</td>
				@*   <td style="min-width: 130px">
			<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
			<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
			<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td> *@
			</tr>

		}
	</tbody>
</table>
